.main-btn__warp {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 100vh;
  pointer-events: none;
}

.main-btn {
  position: relative;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 28px 0 30px;
  text-decoration: none;
  pointer-events: auto;
  border: 2px solid #fff;
  border-right: none !important;
  border-radius: 5px 0 0 5px;
  background-image: linear-gradient(-219deg, #7633af 0%, #57b9cf 100%);

  svg {
    fill: #7633af;
    width: 25px;
    height: 25px;
    transition: opacity .5s;
  }

  span {
    font-family: $font;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e8e8e8;
  }
}

.main-btn--register,
.main-btn--programm {
  transition: .5s;
  transform: translateX(160px);

  &:hover {
    transform: translateX(0);

    svg {
      opacity: 0;
    }
  }
}

.main-btn__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: auto;
}
