.about-data {
  position: relative;
  background-image: linear-gradient(56deg, #7633af 0%, #8540ba 35%, #a057cf 100%);
}

.about-data__decor--left {
  position: absolute;
  top: 50px;
  left: 0;
  overflow: hidden;
  width: 270px;
  height: 400px;
  pointer-events: none;
  img {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 413px;
    transform: rotate(25deg);
    opacity: .21;
  }
}

.about-data__inn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1005px;
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  padding: 70px 30px;

  @include max(1440) {
    display: block;
    min-height: 0;
    padding: 50px 30px;
  }
}

.about-data__title {
  font-family: $font-light;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.about-data__text {
  p {
    font-family: $font-light;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 25px;
    color: #fff;
  }
}

.about-data__bottom {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  span {
    font-family: $font-light;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 12px;
    color: #fff;
  }
}
