.about-data {
  background-image: linear-gradient(56deg, #7633af 0%, #8540ba 35%, #a057cf 100%);
}

.about-data__inn {
  max-width: 1005px;
  margin: 0 auto;
  padding: 120px 30px;
  @include max(767) {
  padding: 70px 30px;

  }
}

.about-data__title {
  font-family: $font-light;
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 33px;
  text-transform: uppercase;
  color: #fff;
  @include max(1200) {
    font-size: 36px;
    letter-spacing:26px;
  }
  @include max(767) {
    font-size: 26px;
    letter-spacing:16px;
  }
}

.about-data__text {
  p {
    font-family: $font-light;
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 25px;
    color: #fff;
    @include max(1200) {
      font-size: 20px;
    }
  }
}

.about-data__bottom {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  span {
    font-family: $font-light;
    font-size: 31px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 16px;
    color: #fff;
    @include max(1200) {
      font-size: 24px;
    letter-spacing: 12px;
    }
  }
}
