.conditions {
  background-color: rgba(211, 211, 211, .38);
}

.conditions__inn {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 30px 40px 30px;

  @include max(1023) {
    max-width: 800px;
  }
}

.conditions__title {
  font-family: $font-light;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #3b2350;
}

.conditions__list {
  display: flex;
  justify-content: space-between;

  @include max(1023) {
    flex-wrap: wrap;
  }
}

.conditions__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px 30px 5px;
  text-align: center;

  @include max(1023) {
    width: 33.33%;
  }
  @include max(550) {
    width: 50%;
  }
  @include max(375) {
    width: 100%;
  }
}

.conditions__icon--rocket {
  max-width: 62px;
}

.conditions__icon--clock {
  max-width: 60px;
}

.conditions__icon--calendar {
  max-width: 61px;
}

.conditions__icon--price {
  max-width: 63px;
}

.conditions__icon--cashback {
  max-width: 60px;
}

.conditions__icon--team {
  max-width: 81px;
}

.conditions__icon {
  min-height: 63px;
  margin: 0 auto 30px;

  img {
    display: block;
    width: 100%;
  }
}

.conditions__text {
  font-family: $font-light;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
  color: #3b2350;
  b {
    font-weight: bold;
  }
}

.conditions__subtext {
  font-family: $font-light;
  font-size: 10px;
  font-weight: 400;
  max-width: 120px;
  color: #3b2350;
}
