.footer {
  position: relative;
  background-color: #141430;
}

.footer__inn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1540px;
  margin: 0 auto;
  padding: 10px 40px 30px 40px;

  @include max(550) {
    padding: 10px 30px 30px 30px;
  }
}

.footer__items {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1065px;

  @include max(767) {
    flex-wrap: wrap;
    max-width: 500px;
  }
  @include max(550) {
    width: min-content;
  }
}

.footer__item {
  width: 25%;
  padding: 40px 30px 0 10px;

  @include max(767) {
    width: 50%;
  }
  @include max(550) {
    //width: auto;
    //min-width: 51%;
    width: 100%;
    padding: 40px 0 0 0;
  }
  img {
    display: block;
    max-width: 200px;
  }
}

.footer__title {
  font-family: $font-light;
  font-size: 22px;
  font-weight: 400;
  white-space: nowrap;
  text-transform: uppercase;
  color: #96299b;

  @include max(1023) {
    font-size: 20px;
  }
}

.footer__link {
  font-family: $font-light;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #96299b;
}

.footer__link-icon {
  flex: none;
  margin-right: 10px;
  svg {
    fill: #96299b;
    width: 30px;
    height: 30px;
  }
}

.footer__link-text {
  font-family: $font-light;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;
}

.footer__decor {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 160px;
  height: 750px;
  white-space: nowrap;
  pointer-events: none;
  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 900px;
    transform: rotate(80deg);
    opacity: .21;
  }
}
