.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.header__inn {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 40px;
}

.header__logo {
  display: block;
  max-width: 185px;
  padding: 17px 0;
  img {
    display: block;
    width: 100%;
  }
}

.menu__lang {
  display: flex;
  align-items: center;
  a,
  span {
    font-family: $font-light;
    font-size: 34px;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    color: #4a1f60;
    @include max(1440) {
      font-size: 26px;
    }
    @include max(1200) {
      font-size: 22px;
    }
  }
  span {
    padding: 0 5px;
  }
}
