.header {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background-color: #fff;

  &::before {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    background-color: #fff;
  }
}

.header__inn {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 10px 40px;

  @include max(550) {
    padding: 10px 20px;
  }
}

.header__logo {
  position: relative;
  z-index: 20;
  display: block;
  max-width: 110px;
  margin-right: auto;
  img {
    display: block;
    width: 100%;
  }
}
