.news {
  position: relative;
  background-color: #5d3199;
}

.news__decor--right {
  position: absolute;
  right: 0;
  top: -150px;
  overflow: hidden;
  width: 240px;
  height: 420px;
  pointer-events: none;
  img {
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    width: 413px;
    transform: rotate(25deg);
    opacity: .21;
  }
}

.news__inn {
  max-width: 1560px;
  margin: 0 auto;
  padding: 80px 30px 100px 30px;
}

.news__title {
  font-family: $font-light;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 22.8px;
  text-transform: uppercase;
  color: #fff;

  @include max(1200) {
    font-size: 36px;
    letter-spacing: 22px;
  }
  @include max(767) {
    font-size: 26px;
    letter-spacing: 16px;
  }
}

.news-slider {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  .slick-track {
    display: flex;
  }
  .slick-prev,
  .slick-next {
    top: 155px;
    transform: translate(0, 0);
  }
  .slick-prev {
    left: -55px;

    @include max(1440) {
      left: -20px;
    }
  }

  [dir='rtl'] .slick-prev {
    right: -55px;

    @include max(1440) {
      right: -20px;
    }
  }

  .slick-next {
    right: -55px;

    @include max(1440) {
      right: -20px;
    }
  }

  [dir='rtl'] .slick-next {
    left: -55px;

    @include max(1440) {
      left: -20px;
    }
  }
}

.news-slider__slide {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  height: auto;
  padding: 0 15px;
}

.news-slider__img {
  width: 100%;
  max-width: 345px;
  height: 190px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.news-slider__title {
  font-family: $font-light;
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;

  @include max(1200) {
    font-size: 38px;
  }
}

.news-slider__text {
  font-family: $font-light;
  font-size: 18px;
  font-weight: 400;
  display: block;
  max-width: 372px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
}

.news-slider__btn {
  font-family: $font-light;
  font-size: 24px;
  font-weight: 400;
  line-height: 46px;
  display: block;
  width: 100%;
  max-width: 290px;
  height: 52px;
  margin-top: auto;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 10px;
  color: #fff;
  border: 3px solid #fff;

  @include max(1200) {
    font-size: 20px;
    line-height: 40px;
    max-width: 240px;
    height: 46px;
    letter-spacing: 4px;
    border: 2px solid #fff;
  }
}
