.program {
  position: relative;
  background-color: #fff;
}

.program__decor--left {
  position: absolute;
  top: 50%;
  left: 0;
  overflow: hidden;
  width: 240px;
  height: 460px;
  transform: translateY(-50%);
  pointer-events: none;
  img {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 474px;
  }
}

.program__decor--right {
  position: absolute;
  right: 0;
  bottom: 200px;
  overflow: hidden;
  width: 240px;
  height: 430px;
  pointer-events: none;
  img {
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    width: 413px;
    transform: rotate(25deg);
  }
}

.program__inn {
  width: 100%;
  padding: 70px 100px;

  @include max(1200) {
    padding: 70px 50px;
  }
  @include max(550) {
    padding: 40px 30px;
  }
}

.program__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.program__title {
  font-family: $font-light;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #3b2350;
}

.program__pdf {
  display: block;
  margin-left: 10px;
  svg {
    fill: #40484b;
    width: 71px;
    height: 82px;
  }
}

//begin #program__top-slider

.program__top-slider {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
  .slick-track {
    display: flex;
  }
  .slick-list {
    padding: 0 !important;
  }
  .slick-prev,
  .slick-next {
    background-image: url('../img/arr-color.png');
  }
  .slick-current {
    .program__top-slide-inn {
      background-color: #7c41bc;
      span {
        color: #fff;
      }
    }
    .program__top-slide-text {
      color: #fff;
    }
  }
}

.program__top-slide {
  display: flex !important;
  justify-content: center;
  height: auto;
  padding: 15px 30px;
  user-select: none;
}

.program__top-slide-inn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 35px;
  cursor: pointer;
  transition: .5s;
  text-align: center;
  border: 1px solid #000;
  background-color: #fff;
  span {
    font-family: $font-light;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    display: block;
    letter-spacing: 1.98px;
    color: #503e61;

    @include max(1440) {
      font-size: 15px;
      line-height: 1.2;
    }
  }
}

.program__top-slide-text {
  font-family: $font-light;
  font-size: 27px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  transition: .5s;
  letter-spacing: -.27px;
  color: #503e61;

  @include max(1440) {
    font-size: 22px;
    line-height: 1.2;
  }
}

//end #program__top-slider

//begin #program__slider
.program__slider {
  margin-bottom: 30px;
}

.program__slide {
  display: flex !important;
  justify-content: space-around;

  @include max(1200) {
    flex-wrap: wrap;
  }
}

.program__slide-item {
  flex: 1;
  max-width: 800px;
  margin: 0 10px 20px 10px;
  padding: 60px 30px;
  background-color: #ceecfa;

  @include max(1200) {
    flex: inherit;
    width: calc(50% - 20px);
  }
  @include max(767) {
    width: 100%;
    margin: 0 0 20px 0;
  }

  span {
    font-family: $font-light;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    color: #3b2350;

    @include max(1440) {
      font-size: 18px;
    }
  }
}

.program__slide-title {
  font-family: $font-light;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center;
  color: #3b2350;

  @include max(1440) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.program__slide-list {
  padding-left: 20px;
  li {
    font-family: $font-light;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 10px;
    color: #3b2350;

    @include max(1440) {
      font-size: 18px;
    }
  }
}

//end #program__slider
