.top {
  position: relative;
}

.top__video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-image: url('../img/bg-fractal.jpg');
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
  video {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 0 50%;
  }
}

.top__inn {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 110px 30px 30px 30px;

  @include max(767) {
    padding: 50px 30px 30px 30px;
  }
}

.top__logo {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 75px;
  img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    transform: translateX(80px);

    @include max(550) {
      transform: translateX(30px);
    }
    @include max(375) {
      transform: translateX(10px);
    }
  }
}

.top__text {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 50px;

  @include max(767) {
    padding: 0;
  }
  span {
    font-family: $font-light;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 15px;
    color: #e8e8e8;

    b {
      font-family: $font-bold;
      font-weight: 700;
    }
  }
}

span.top__text-ps {
  font-family: $font-light;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-left: auto;
  color: #fff;
}
