.why-we {
  background-color: #5ba8cb;
}

.why-we__inn {
  max-width: 1160px;
  margin: 0 auto;
  padding: 50px 30px 30px 30px;
}

.why-we__title {
  font-family: $font-light;
  font-size: 52px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: 18.24px;
  color: #3b2350;

  @include max(1200) {
    font-size: 36px;
    letter-spacing: 12px;
  }
  @include max(767) {
    line-height: 1.1;
  }
}

.why-we__list {
  margin-bottom: 30px;
  padding: 0;
  li {
    font-family: $font-light;
    font-size: 27px;
    font-weight: 400;
    position: relative;
    padding-left: 45px;
    list-style: none;
    color: #3b2350;

    @include max(1200) {
      font-size: 22px;
    }

    b {
      font-weight: bold;
    }
    &::before {
      position: absolute;
      top: 6px;
      left: 0;
      width: 23px;
      height: 23px;
      content: '';
      border: 3px solid #fff;
      border-radius: 50%;

      @include max(1200) {
        top: 3px;
      }
    }
  }
}
