.why-we {
  position: relative;
  background-color: #5ba8cb;
}

.why-we__decor {
  position: absolute;
  top: 50%;
  left: 0;
  overflow: hidden;
  width: 240px;
  height: 460px;
  transform: translateY(-50%);
  pointer-events: none;
  img {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 474px;
    opacity: .21;
  }
}

.why-we__inn {
  max-width: 1160px;
  margin: 0 auto;
  padding: 50px 30px 30px 30px;
}

.why-we__title {
  font-family: $font-light;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
  color: #3b2350;
}

.why-we__list {
  margin-bottom: 30px;
  padding: 0;
  li {
    font-family: $font-light;
    font-size: 22px;
    font-weight: 400;
    position: relative;
    padding-left: 45px;
    list-style: none;
    letter-spacing: 2px;
    color: #3b2350;

    @include max(767) {
      font-size: 20px;
    }

    b {
      font-weight: bold;
    }
    &::before {
      position: absolute;
      top: 3px;
      left: 0;
      width: 23px;
      height: 23px;
      content: '';
      border: 3px solid #fff;
      border-radius: 50%;
    }
  }
}
