//begin about-data
.about-data#about-data
  .about-data__decor--left
    img(src="assets/img/decor.svg" alt="decor")

  .about-data__inn
    h2.about-data__title.title Про Data Science
    .about-data__text
      p В ході розвику четвертої промислової революції, яку очолює прогрес у технологіях великих даних та штучного інтелекту, людство знову стикається з великими змінами на ринку праці.
      p За прогнозами аналітиків, вже зараз аналітика великих даних (Big Data Analytics) стає одним з найбільш затребуваних завдань в сучасному бізнесі. <br>За оцінками компанії Frost & Sullivan, в 2021 році загальний обсяг світового ринку аналітики великих даних збільшиться в порівнянні з показниками 2016 року більш ніж в 2,5 рази і складе $ 67,2 млрд, при щорічних темпах зростання (CAGR) на рівні 35,9%
      p Вже сьогодні обсяги згенерованих людством даних перевищують 30 Зетабайт*, а до 2025 року очікується вже 400 зетабайт. <br> *1 Зетабайт -  63 мільйони років перегляду 4K відео.
      p Coursera визнає Data Science одним з трьох найбільш перспективних напрямків освіти, а LinkedIn визнає професію Data Scientist однією з найбільш перспективних сучасних професій з більш ніж 10.000 вакансій і річним темпом зростання попиту на 37%.
    .about-data__bottom
      span Саме час для старту кар'єри у Data Science!
//end about-data
