//begin about-us
.about-us#about-us
  .about-us__decor--left
    img(src="assets/img/decor-blue.svg" alt="decor")

  .about-data__decor--right
    img(src="assets/img/decor-blue.svg" alt="decor")

  .about-us__inn
    h2.about-us__title.title Про нас
    .about-us__text
      span Історія Big Data Lab розпочалася в листопаді 2017, коли був запущений безпрецедентний експеримент під однойменною назвою. Його метою було показати можливості Big Data analytics, покласти початок формуванню ринку Big Data analytics в Україні, який перебував у зародковому стані, а також допомогти фахівцям визначитися з однією з найперспективніших і затребуваних професій майбутнього.
      span Vodafone об’єднав у проекті бізнес, академічну науку, розробників, інвесторів, муніципальні та державні установи. Проект дав поштовх створенню в Україні екосистеми дата-аналітики як основи для трансформації бізнесу і суспільства, і водночас проявив гострий брак Data Science фахівців. Тож логічним розвитком проекту стала школа Big Data Lab.

    //begin about-us__timeline
    .about-us__timeline#about-us__timeline
      .about-us__timeline-item 2017
      .about-us__timeline-item 2018
      .about-us__timeline-item 2020
      .about-us__timeline-item 2021
    //end about-us__timeline

    //begin about-us__slider
    .about-us__slider#about-us__slider
      //begin about-us__slide 2017
      .about-us__slide
        .about-us__slide-left
          img(src="assets/img/about-2017.png" alt="picture")
        .about-us__slide-right
          h3.about-us__slide-title.title Big Data Lab 2017
          .about-us__slide-text
            span Big Data Lab – унікальний експеримент, для реалізації якого у 2017 р. Vodafone надав масив реальних даних, знеособлених та змінених, для розробки рішень для бізнеса, міст, суспільства, людей. Проект включав в себе кілька модулів: навчання, хакатон, бізнес-акселератор і захист проектів, розроблених в ході акселератора, перед потенційними інвесторами.
            span Для участі у проекті зареєструвались понад 1500 розробників і дата аналітиків з різних міст України та інших країн.
            span Понад 600 фахівців з них отримали доступ до даних після конкурсного відбору.
            span Їм було надано гігантський масив даних - 120 млн подій, кожна з яких мала 20 параметрів.
            span 3 місяці учасники Big Data Lab працювали з даними.
            span Було створено понад 40 інноваційних ідей. Кращі рішення за участі data-аналітиків Vodafone були доопрацьовані та представлені потенційним клієнтам та інвесторам.
      //end about-us__slide 2017

      //begin about-us__slide 2018
      .about-us__slide
        .about-us__slide-left
          img(src="assets/img/about-2018.png" alt="picture")
        .about-us__slide-right
          h3.about-us__slide-title.title Big Data Lab<br>Challenge 2018
          .about-us__slide-text
            span Big Data Lab Challenge – двотижневе онлайн-змагання на базі платформи Kaggle. Учасники отримали доступ до даних Vodafone для вирішення актуальних для бізнеса завдань: визначення віку абонента по знеособленим даними та точне визначення потенційних користувачів однієї з послуг Vodafone.
            span У змаганні взяли участь 356 розробників з 30 міст України, було також кілька представників Німеччини.
            span 38 команд працювали над визначенням віку абонента, best score 0.52009.
            span 57 команд розробляли алгоритм визначення схильності абонентів до підключення послуги Vodafone Music, best score 0.83405.
            span Переможці вибороли приз у розмірі $3000, а Vodafone отримав чотири ефективні прогностичні моделі, які використав у своїй діяльності.
            span Big Data Lab Challenge продемонстрував велику зацікавленість у доменній експертизі та можливості працювати над конкретними завданнями, актуальними для бізнеса.
      //end about-us__slide 2018

      //begin about-us__slide 2020
      .about-us__slide
        .about-us__slide-left
          img(src="assets/img/about-2020.png" alt="picture")
        .about-us__slide-right
          h3.about-us__slide-title.title Big Data Lab<br>School 2020
          .about-us__slide-text
            span Досвід проведення Big Data Lab 2017 та Big Data Lab Challenge 2018  підштовхнув до створення першого в Україні курсу Data Science, який би поєднав теоретичні знання з унікальною доменною експертизою і реальними великими даними.
            span Big Data Lab School - це піврічний інтенсив з підготовки кваліфікованих Data Science спеціалістів, який надасть знання та практичні навички, необхідні для старту кар’єри у Data Science.
            span Ми розробили унікальну програму навчання, яка спирається як на фундаментальні математичні дисципліни, так і на роботу з реальними великими даними і експертизу аналізу даних у різних доменних сферах (телеком, банки, промисловість, Smart City, тощо).
      //end about-us__slide 2020

      //begin about-us__slide 2021
      .about-us__slide
        .about-us__slide-left
          img(src="assets/img/about-2021.png" alt="picture")
        .about-us__slide-right
          h3.about-us__slide-title.title Big Data Lab<br>School 2021
          .about-us__slide-text
            span Досвід проведення Big Data Lab 2017 та Big Data Lab Challenge 2018  підштовхнув до створення першого в Україні курсу Data Science, який би поєднав теоретичні знання з унікальною доменною експертизою і реальними великими даними.
            span Big Data Lab School - це піврічний інтенсив з підготовки кваліфікованих Data Science спеціалістів, який надасть знання та практичні навички, необхідні для старту кар’єри у Data Science.
            span Ми розробили унікальну програму навчання, яка спирається як на фундаментальні математичні дисципліни, так і на роботу з реальними великими даними і експертизу аналізу даних у різних доменних сферах (телеком, банки, промисловість, Smart City, тощо).
      //end about-us__slide 2021
    //end about-us__slider
//end about-us