//begin conditions
.conditions#conditions
  .conditions__inn
    h2.conditions__title.title Умови навчання
    //begin conditions__list
    .conditions__list
      .conditions__item
        .conditions__icon.conditions__icon--rocket
          img(src="assets/img/icons/rocket.png" alt="icon")
        span.conditions__text <b>Старт навчання</b> <br>Березень 2020

      .conditions__item
        .conditions__icon.conditions__icon--clock
          img(src="assets/img/icons/clock.png" alt="icon")
        span.conditions__text <b>Тривалість</b> <br> 6 місяців <br> 240 лекційних годин

      .conditions__item
        .conditions__icon.conditions__icon--calendar
          img(src="assets/img/icons/calendar.png" alt="icon")
        span.conditions__text <b>Розклад</b> <br> Ср. Пт. 19:00-22:00 <br> Сб. 10:00-17:00

      .conditions__item
        .conditions__icon.conditions__icon--price
          img(src="assets/img/icons/price.png" alt="icon")
        span.conditions__text <b>Вартість</b> <br> $3500

      .conditions__item
        .conditions__icon.conditions__icon--cashback
          img(src="assets/img/icons/cashback.png" alt="icon")
        span.conditions__text <b>Cashback</b> <br> 50%*
        span.conditions__subtext *При умові успішного захисту фінального проекту.

      .conditions__item
        .conditions__icon.conditions__icon--team
          img(src="assets/img/icons/team.png" alt="icon")
        span.conditions__text <b>Залишилось місць</b> <br> 2
    //end conditions__list
//end conditions