//begin demand
.demand#demand
  .demand__inn
    h2.demand__title.title Вимоги:
    ul.demand__list
      li Бажання розібратися у новій перспективній галузі Data Science
      li Можливість виділяти на протязі півроку щотижня по 12 годин на аудиторні заняття і не менше часу на самостійну роботу
      li Логічно-раціональне, алгоритмічне мислення
      li Знання (можливо, забуте ) основ лінійної алгебри та теорії ймовірності
      li Вміння програмувати на будь-якій мові програмування
      li Наявність ноутбука, щоб виконувати лабораторні роботи та працювати на практичних заняттях
//end demand
