//begin header
header.header
  .header__inn
    //begin header__logo
    a(href="#top").header__logo
      img(src="assets/img/logo.png" alt="logo")
    //end header__logo

    include ../elements/menu

    //begin menu__lang
    .menu__lang
      a(href="#") ua
      span /
      a(href="#") eng
    //end menu__lang
//end header