mixin news-slider__slide(title, text)
  .news-slider__slide
    .news-slider__img(style='background-image: url("assets/img/news-slider.jpg")')
    h3.news-slider__title #{title}
    span.news-slider__text #{text}
    a(href="article.html").news-slider__btn детальніше

//begin news
.news#news
  .news__decor--right
    img(src="assets/img/decor.svg" alt="decor")

  .news__inn
    h2.news__title Data Science News
    //begin news-slider
    .news__slider.news-slider#news-slider
      +news-slider__slide('News 1', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ')
      +news-slider__slide('News 2', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ')
      +news-slider__slide('News 3', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ')
      +news-slider__slide('News 4', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis ')
    //end news-slider
//end news