mixin team-slider__slide(pic, name, position, text)
  .team-slider__slide
    .team-slider__slide-inn
      .team-slider__img
        img(src="assets/img/team/" + pic + ".png" alt="team")
      h3.team-slider__name #{name}
      h4.team-slider__position #{position}
      span.team-slider__text #{text}

//begin team
.team#team
  .team__inn
    h2.team__title.title Команда
    //begin team-slider
    .team__slider.team-slider#team-slider
      //begin team-slider__slide
      .team-slider__slide
        .team-slider__slide-inn
          .team-slider__img
            img(src="assets/img/team/chertov.png" alt="team")
          h3.team-slider__name Олег<br>Чертов
          h4.team-slider__position Викладач
          span.team-slider__text Професор, доктор технічних наук, завідувач кафедри прикладної математики НТУУ "Київський політехнічний інститут ім. Ігоря Сікорського", ініціатор першої освітньої програми з Data Science у вишах України. Архітектор найбільшої OLAP-системи в Україні, яка й донині працює у Державній службі статистики України. Консультант Світового банку та Фонду народонаселення ООН, координатор проектів Horizon 2020, NATO Science for Peace and Security, Volkswagen Foundation
      //end team-slider__slide

      //begin team-slider__slide
      .team-slider__slide
        .team-slider__slide-inn
          .team-slider__img
            img(src="assets/img/team/demch.png" alt="team")
          h3.team-slider__name Юрій <br> Демченко
          h4.team-slider__position Викладач
          span.team-slider__text Старший науковий співробітник, викладач Амстердамського Університету. Інструктор-викладач дистанційного навчання Ліверпульського Університету. Викладач курсу з технології великих данихв НТУУ “КПІ”. Координатор і основний розробник Європейського проекту EDISON (Building Data Science Profession, 2015-2017), головним результатом якого стало створення EDISON Data Science Framework (EDSF), що складає базу для визначення професії спеціаліста з даних, відповідних компетенцій і широко використовується для розробки освітніх програм в області науки про дані.
      //end team-slider__slide

      //begin team-slider__slide
      .team-slider__slide
        .team-slider__slide-inn
          .team-slider__img
            img(src="assets/img/team/stavickij.png" alt="team")
          h3.team-slider__name Андрій<br>Ставицький
          h4.team-slider__position Викладач
          span.team-slider__text Доктор економічних наук, доцент кафедри економічної кібернетики економічного факультету Київського національного університету імені Тараса Шевченка. Національний експерт з реформування вищої освіти в рамках Болонського процесу, член Науково-методичної ради та координатор ECTS Київського національного університету імені Тараса Шевченка. Тьютор дисципліни "Економіка" (Единбурзька бізнес-школа), запрошений професор Вільнюського університету (Литва), Київської школи економіки.
      //end team-slider__slide

      //begin team-slider__slide
      .team-slider__slide
        .team-slider__slide-inn
          .team-slider__img
            img(src="assets/img/team/ribalka.png" alt="team")
          h3.team-slider__name Володимир<br>Рибалко
          h4.team-slider__position Викладач
          span.team-slider__text Керівник департаменту Customer Value Management (Big Data). Більше 12 років досвіду в сфері цільового маркетингу на базі: предикативних моделей, аналізу Big Data та застосування систем Real Time Marketing.
      //end team-slider__slide

      //begin team-slider__slide
      .team-slider__slide
        .team-slider__slide-inn
          .team-slider__img
            img(src="assets/img/team/koshel.png" alt="team")
          h3.team-slider__name Володимир<br>Кошель
          h4.team-slider__position Викладач
          span.team-slider__text Senior Data Scientist, Deep Learning Engineer. Вже більше 15 років в науковій галузі і зараз отримує PhD з Computer Science. Чотири роки досвіду роботи в сфері аналізу даних як Data Scientist, Machine Learning Engineer, Deep Learning Engineer.
      //end team-slider__slide

      //begin team-slider__slide
      .team-slider__slide
        .team-slider__slide-inn
          .team-slider__img
            img(src="assets/img/team/tamajlo.png" alt="team")
          h3.team-slider__name Вероніка<br>Тамайо Флорес
          h4.team-slider__position Викладач
          span.team-slider__text Керівник проектів із запровадження технологій data science та business intelligence в компаніях. <br>Основна експертиза – бізнес аналіз, бізнес переклад (поєднання бізнесових та технічних навичок), ведення аналітичних проектів та розвиток бізнесу.<br>Випускник IE Business School (Іспанія) за спеціальністю Business Analytics and Big Data.
      //end team-slider__slide

      //begin team-slider__slide
      .team-slider__slide
        .team-slider__slide-inn
          .team-slider__img
            img(src="assets/img/team/ruban.png" alt="team")
          h3.team-slider__name Вікторія<br>Рубан
          h4.team-slider__position Ініціатор і засновник проекту Big Data Lab
          span.team-slider__text PR-директор компанії Vodafone.
      //end team-slider__slide

      //begin team-slider__slide
      .team-slider__slide
        .team-slider__slide-inn
          .team-slider__img
            img(src="assets/img/team/kurson.png" alt="team")
          h3.team-slider__name Сергій<br>Курсон
          h4.team-slider__position Куратор
          span.team-slider__text Експерт з зовнішніх відносин компанії Vodafone.
      //end team-slider__slide

      //begin team-slider__slide
      .team-slider__slide
        .team-slider__slide-inn
          .team-slider__img
            img(src="assets/img/team/terejkovskij.png" alt="team")
          h3.team-slider__name Ігор<br>Терейковський
          h4.team-slider__position Викладач
          span.team-slider__text Професор, доктор технічних наук, професор кафедри системного програмування та спеціалізованих комп’ютерних систем факультету прикладної математики НТУУ Київський політехнічний інститут ім. Ігоря Сікорського, автор більш ніж 200 наукових та науково-методичних робіт, в тому числі 4 монографій, пов’язаних із застосуванням нейронних мереж в області захисту інформації та розпізнавання біометричних образів.
      //end team-slider__slide

      //begin team-slider__slide
      .team-slider__slide
        .team-slider__slide-inn
          .team-slider__img
            img(src="assets/img/team/lubchik.png" alt="team")
          h3.team-slider__name Леонід<br>Любчик
          h4.team-slider__position Викладач
          span.team-slider__text Професор, доктор технічних наук, Лауреат Державної премії України, Академік АН вищої школи України, завідувач кафедри комп’ютерної математики і аналізу даних Національного технічного університету «Харківський політехнічний інститут. Член Міжнародного наукового товариства IEEE, запрошений професор Wuppertal University, Germany та CINVESTAV, Mexico. Член Науково-методичної ради МОН України у 2017-2019 рр., координатор розробки Стандартів вищої освіти в галузі знань «Інформаційні технології».
      //end team-slider__slide
    //end team-slider
//end team