//begin top-items
.top-items
  .top-items__inn
    .top-items__item.top-items__item--calendar
      .top-items__icon
        img(src="assets/img/icons/calendar-2.png" alt="picture")
      span.top-items__number 6
      span.top-items__text місяців

    .top-items__item.top-items__item--stopwatch
      .top-items__icon
        img(src="assets/img/icons/stopwatch.png" alt="picture")
      span.top-items__number 240
      span.top-items__text годин

    .top-items__item.top-items__item--brain
      .top-items__icon
        img(src="assets/img/icons/brain.png" alt="picture")
      span.top-items__number 8
      span.top-items__text дисциплін

    .top-items__item.top-items__item--divice
      .top-items__icon
        img(src="assets/img/icons/divice.png" alt="picture")
      span.top-items__text Великий фінальний проект
//end top-items