//begin top
.top#top
  .top__video-bg
    video(loop='', muted='', autoplay='')
      source(src='assets/video/fractal.webm')
      source(src='assets/video/fractal.mp4')

  .top__inn
    .top__logo
      img(src='assets/img/logo-lg.svg', alt='logo')

    .top__text
      span <b>Big Data Lab</b> - це комплексний інтенсивний курс з підготовки data science спеціалістів, який передбачає вивчення фундаментальних математичних дисциплін, доменну експертизу і практику з реальними великими даними Vodafone*.
      span.top__text-ps *Знеособлений датасет від Vodafone
//end top