//begin why-we
.why-we#why-we
  .why-we__decor
    img(src="assets/img/decor.svg" alt="decor")

  .why-we__inn
    h2.why-we__title Переваги Big Data Lab
    ul.why-we__list
      li <b>Унікальна доменна експертиза</b> в різних областях: економіка, виробництво, послуги, фінанси, соціальна і гуманітарна сфери.
      li <b>Практика на реальних* великих даних</b> Vodafone (*знеособлених).
      li <b>Команда викладачів світового рівня</b> (в т.ч. професіоналів-практиків з досвідом роботи в сфері Big Data)
      li <b>Курс розрахований на працюючих професіоналів</b>, тож його можна поєднувати з роботою.
      li <b>Інтенсивне навчання</b>: вже через 6 місяців випускники отримують знання та практичні навички, необхідні для старту кар’єри у Data Science

    h2.why-we__title Що отримає випускник:
    ul.why-we__list
      li Найбільш перспективну на сьогодні і в майбутньому <b>професію</b>.
      li <b>Практичні знання</b> для роботи з даними у будь-якій сфері.
      li <b>Вміння застосовувати</b> широкий спектр ефективних методів машинного навчання та нейронних мереж для аналізу великих даних, часових рядів та текстової інформації
      li <b>Навички інженерії програмного забезпечення</b> та побудови інфраструктури для збору, зберігання, та обробки даних.
//end why-we
