//begin main-btn
a(href="https://docs.google.com/forms/d/108YJgrf9fs43-p6xDKd5n7W3xANd4Gshg91fH0emvN4/viewform?edit_requested=true" target="_blank" rel="nofollow noopener noreferrer").main-btn
  span Записатися <br> на курс
//end main-btn