//begin menu
.menu#menu
  //begin menu__list
  ul.menu__list
    li.menu__item
      a(href="#").menu__link.scroll-link Програма
    li.menu__item
      a(href="#team").menu__link.scroll-link Команда
    li.menu__item
      a(href="#conditions").menu__link.scroll-link Умови навчання
    li.menu__item
      a(href="#").menu__link.scroll-link Про нас
    li.menu__item
      a(href="#about-data").menu__link.scroll-link Про Data Science
  //end menu__list
//end menu