@font-face {
  font-family: VodafoneRg-Regular;
  src:  url('../fonts/VodafoneRg-Regular.woff2') format('woff2'),
        url('../fonts/VodafoneRg-Regular.woff')  format('woff');
}

@font-face {
  font-family: VodafoneRg-Bold;
  src:  url('../fonts/VodafoneRg-Bold.woff2') format('woff2'),
        url('../fonts/VodafoneRg-Bold.woff')  format('woff');
}

@font-face {
  font-family: VodafoneLt-Regular;
  src:  url('../fonts/VodafoneLt-Regular.woff2') format('woff2'),
        url('../fonts/VodafoneLt-Regular.woff')  format('woff');
}

@font-face {
  font-family: VodafoneExB-Regular;
  src:  url('../fonts/VodafoneExB-Regular.woff2') format('woff2'),
        url('../fonts/VodafoneExB-Regular.woff')  format('woff');
}
