// ===== fonts =====
$font:            'VodafoneRg-Regular', sans-serif;
$font-bold:       'VodafoneRg-Bold', sans-serif;
$font-light:      'VodafoneLt-Regular', sans-serif;
$font-extrabold:  'VodafoneExB-Regular', sans-serif;
