extends ../_template

block variables
  - var title       = 'BigDataLab'
  - var description = 'BigDataLab'
  - var ogtitle     = 'BigDataLab'
  - var ogimage     = 'assets/img/social.jpg'

block content
  include ../sections/header
  .wrap
    main.main
      include ../elements/btn
      include ../sections/top
      .edits-that-we-make-the-third-week
        include ../sections/top-items
        include ../sections/why-we
      include ../sections/news
      include ../sections/program
      include ../sections/team
      .edits-that-we-make-the-third-week
        include ../sections/conditions
        include ../sections/demand
      include ../sections/about-us
      include ../sections/about-data
    include ../sections/footer



