extends ../_template

block variables
  - var title       = 'BigDataLab'
  - var description = 'BigDataLab'
  - var ogtitle     = 'BigDataLab'
  - var ogimage     = ''

block content
  .index
    include ../sections/header
