.article {
  position: relative;
  background-image: linear-gradient(66deg, #b842cf 0%, #6a5fd6 40%, #3dabd3 100%);
}

.article__decor-left {
  position: absolute;
  top: 150px;
  left: 0;
  overflow: hidden;
  width: 150px;
  height: 600px;
  pointer-events: none;
  img {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 630px;
    transform: rotate(80deg);
    opacity: .21;
  }
}

.article__decor-right {
  position: absolute;
  top: 1100px;
  right: 0;
  overflow: hidden;
  width: 150px;
  height: 330px;
  pointer-events: none;
  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 335px;
    opacity: .21;
  }
}

.article__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;

  @include max(550) {
    padding: 0 25px;
  }
}

.article__title {
  font-family: $font-light;
  font-size: 68px;
  line-height: 1;
  margin: 70px 0 20px 0;
  letter-spacing: -.29px;
  color: #fff;

  @include max(1440) {
    font-size: 54px;
  }
  @include max(1200) {
    font-size: 40px;
  }
}

.article__img {
  position: relative;
  width: 100%;
  max-width: 920px;
  margin: 45px auto;
  img {
    display: block;
    width: 100%;
  }
}

.article {
  p {
    font-family: $font-light;
    font-size: 26px;
    font-weight: 400;
    color: #fff;

    @include max(1440) {
      font-size: 22px;
    }
    @include max(1200) {
      font-size: 18px;
    }
  }
}

.article__bottom-back {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding-top: 20px;
}

.article__back {
  font-family: $font-light;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}
